<h1> Check Charge Status Banorte</h1>
<h3><%="El cargo por #{@charge.amount/100} via Banorte, tiene un status #{@charge.status}" %></h3>
<p>Service name: <%= @charge.payment_method.service_name %></p>
<p>Service number: <%= @charge.payment_method.service_number %></p>
<p>Reference: <%= @charge.payment_method.reference %></p>
<p>Payment method type: <%= @charge.payment_method.type %></p>